pdf2image
pillow
Flask 
Flask-Cors 
google-cloud-storage
streamlit
Pillow
openai
google-generativeai
python-dotenv
requests
gunicorn 
oauth2client
requests
vertexai
huggingface_hub
langchain_google_genai
langchain
google-cloud-firestore
firebase-admin
langchain-openai
langchain-community
chromadb
langchain-anthropic
huggingface_hub
langchain-huggingface 
beautifulsoup4
gunicorn
tldextract
faiss-cpu
